doctype html
html
  head
    title=title
    meta(name="metro4:init" content="true")
    meta(name="metro4:locale" content="ko-KR")
    meta(name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet")
    script(src="/modules/jquery/dist/jquery.min.js")
    script(src="/modules/mustache/mustache.min.js")
    script(type="text/javascript" src="http://map.vworld.kr/js/vworldMapInit.js.do?version=2.0&apiKey=08AE37FC-AFF6-3C19-B6D0-8810E24EA166")
    script(src="/modules/metro4-dist/js/metro.min.js") 
    script(src="/modules/date-utils/lib/date-utils.min.js")
    script(src="/javascripts/common.js")
    link(rel='stylesheet', href='/modules/metro4-dist/css/metro.min.css')
    link(rel="stylesheet", href="/modules/metro4-dist/css/metro-icons.min.css")
    link(rel="stylesheet", href="/modules/metro4-dist/css/metro-colors.min.css")
    //- link(rel="stylesheet", href="/modules/metro4-dist/css/metro-animation.min.css")
    link(rel='stylesheet', href='/stylesheets/common.css')
    block header
body
    include controls/menu-new.pug
    block content
    block scripts