div(class="top-div")
        div(class="top-title")
            span(id="app-menu" class="mif-apps mif-3x")
div(id="menu-bar" class="menu-bar bg-color-wt")
    div(class="menu-item-list-row")
        div(data-link="/" class="menu-box-item fg-color-gy line-right line-bottom")
            span(class="mif-calendar")
            div(class="menu-name") 정기모임
        div(data-link="/schedule/new" class="menu-box-item fg-color-gy line-bottom")
            span(class="mif-present-all")
            div(class="menu-name") 모임생성
    div(class="menu-item-list-row")
        div(data-link="/schedule" class="menu-box-item fg-color-gy line-right line-bottom")
            span(class="mif-new-tab")
            div(class="menu-name") 모임일정
        div(data-link="/picture" class="menu-box-item fg-color-gy line-bottom")
            span(class="mif-file-picture")
            div(class="menu-name") 사진첩
    div(class="menu-item-list-row")
        div(data-link="/members" class="menu-box-item fg-color-gy line-right line-bottom")
            span(class="mif-new-tab")
            div(class="menu-name") 회원목록
        div(data-link="/team" class="menu-box-item fg-color-gy line-bottom")
            span(class="mif-file-picture")
            div(class="menu-name") 대진생성
    div(class="menu-item-list-row")
        div(data-link="/users/change" class="menu-box-item fg-color-gy line-right")
            span(class="mif-user")
            div(class="menu-name") 내정보
        div(data-link="/logout" class="menu-box-item fg-color-gy")
            span(class="mif-enter")
            div(class="menu-name") 로그아웃