doctype html
html
  head
    title=title
    meta(name="metro4:init" content=init)
    meta(name="metro4:locale" content="ko-KR")
    meta(name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200")
    script(src="/modules/jquery/dist/jquery.min.js")
    script(src="/modules/mustache/mustache.min.js")
    script(src="/modules/metro4-dist/js/metro.min.js")
    script(src="/modules/date-utils/lib/date-utils.min.js")
    script(src="/javascripts/common.js")
    link(rel='stylesheet', href='/stylesheets/game/common.css')
  block header
  body
    div(class="header")
        div(class="title") 
            | 배드민턴 대진표 작성 프로그램
    block content
    block scripts
